/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background:url(../img/bg.jpg);
/*background-attachment:fixed;*/
font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:3px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

   }

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#menu_menu{
display:none;
   }

#menu_logout_div{
display:block;
top: 10;
float:right;    
  position: relative; /* Абсолютное позиционирование */
  width: 138px; /* Ширина блока */
   height: 40px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}
#back_menu_div {
	display:none;
  top: 10;
float:right;    
  position: relative; /* Абсолютное позиционирование */
  width: 138px; /* Ширина блока */
   height: 50px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}
#version{
display:block;
    left: 60; top: 0;
  position: absolute; /* Абсолютное позиционирование */
  width: 100px; /* Ширина блока */
   height: 50px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

#changelog{
display:block;
    left: 350; top: 150;
  position: absolute; /* Абсолютное позиционирование */
  width: 300px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

#led{
display:block;
 left: -40; top: 10;
float:right;    
  position: relative; /* Абсолютное позиционирование */
  width: 22px; /* Ширина блока */
   height: 22px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

a{
    text-decoration: none;
    color:  #c3c3c3;
}
a:link{
    text-decoration: none;
    color:  #c3c3c3;
}
a:visited{
    text-decoration: none;
    color:  #c3c3c3;
}
#register
{
    a{
    text-decoration: none;
    color:  #000000;
}
a:link{
    text-decoration: none;
    color:  #000000;
}
a:visited{
    text-decoration: none;
    color:  #000000;
}

}
#second_menu_div{
display:none;
    left: 0; top: 50;
  position: absolute; /* Абсолютное позиционирование */
 /* Ширина блока */
  border: 1px solid #000; /* Параметры рамки */
  padding: 24px; /* Поля вокруг текста */
  font-family: Minion-Pro; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  padding-left:0px;
  padding-right:0px;
   padding-top:0px;
    padding-bottom:0px;
  color: #fff; /* Цвет текста */
  background: #4c4c4d;
  opacity: 0.9;
}
#second_menu_div_table{
display:block;
margin: auto;
table-layout: fixed

      padding-left:0px;
  padding-right:0px;
   padding-top:0px;
    padding-bottom:0px;
  border: 0px solid #000; /* Параметры рамки */
  font-family: Minion-Pro;  /* Рубленый шрифт */
  font-size: 12pt; /* Размер шрифта */
  font-stretch, condensed;
  color: #c3c3c3; /* Цвет текста */
}

#second_menu_div_button{
display:block;
    left: 60; top: 25;
  position: absolute; /* Абсолютное позиционирование */
  width: 22px; /* Ширина блока */
   height: 22px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
  
}
#menu_button{
display:block;
    left: 0; top: 8;
  position: absolute; /* Абсолютное позиционирование */
  width: 87px; /* Ширина блока */
   height: 40px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */

}

#router_info_div{
display:none;

}
#profile_div{
display:none;
 left: 0; top: 60;
  position: absolute; /* Абсолютное позиционирование */
}
#loading{
display:none;
 left: 30; top: 60;
  position: absolute; /* Абсолютное позиционирование */
}
#security_div{
display:none;
}
#wifi_info_div{
display:none;
}
#wifi_sitting_div{
display:none;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
#td_login {

 padding-top:100px;     /* отступ сверху */
  font-size: 14pt;
  }
  #div_login {

  font-size: 14pt;

  }
#href_reg
{
        a{
    text-decoration: none;
    color:  #000000;
  font-size: 14pt;
}
a:link{
    text-decoration: none;
    color:  #000000;
}
a:visited{
    text-decoration: none;
    color:  #000000;
}
}
#profile_table {
	width:100%;
	color:#c3c3c3;
  border: 4px;
  border-color:#000000;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
   background-color:#5f5f5f;
   font-family: Minion-Pro; 
  padding-top:0px;    /* отступ сверху */
  }
  #router_info_int_table {

	color:#c3c3c3;
  border:1;
  border-color:#989898;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
   background-color:#2C2C2C;
   font-family: Minion-Pro; 
  padding-top:0px;    /* отступ сверху */
  }

#td_menu {
  width:135px;
  padding-top:20px;    /* отступ сверху */
  }
  
 #td_type {
    font-family: sans-serif; /* Рубленый шрифт */
  font-size: 14pt; /* Размер шрифта */
  color: #c3c3c3; /* Цвет текста */
  }
  
  #td_menu_top {
  padding-top:20px;    /* отступ сверху */
  }
  #td_content {
  padding-top:30px;     /* отступ сверху */
  }
td input {
    width:130px;
    }

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#sitting_menu_div {
    left: 150; top: 370;
  position: absolute; /* Абсолютное позиционирование */
  width: 75px; /* Ширина блока */
   height: 75px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}
#diagnostic_menu_div {
    left: 0; top: 370;
  position: absolute; /* Абсолютное позиционирование */
  width: 75px; /* Ширина блока */
   height: 75px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

#wifi_menu_div {
    left: 150; top: 220;
  position: absolute; /* Абсолютное позиционирование */
  width: 75px; /* Ширина блока */
   height: 75px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}
#security_menu_div {
    left: 0; top: 220;
  position: absolute; /* Абсолютное позиционирование */
  width: 75px; /* Ширина блока */
   height: 75px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

#router_menu_div {
    left: 150; top: 70;
  position: absolute; /* Абсолютное позиционирование */
  width: 75px; /* Ширина блока */
   height: 75px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}
#profile_menu_div {
    left: 0; top: 70;
  position: absolute; /* Абсолютное позиционирование */
  width: 75px; /* Ширина блока */
   height: 75px; /* Ширина блока */
  border: 0px solid #000; /* Параметры рамки */
  padding: 5px; /* Поля вокруг текста */
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 9pt; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

